{% extends 'base.html.twig' %}

{% block title %}Reservations - {{ title }}{% endblock %}

{% block body %}
<h1 class="text-center mt-4 mb-4">{{ title }}</h1>
 <table class="table text-center w-50 mr-auto ml-auto mt-4 mb-4">
        <thead>
            <tr style="background-color: lightblue; color:white;">
                <th>ID</th>
                <th>TYPE</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td> {{ type.id}}</td>
                <td> {{ type.type | capitalize }}</td>
                <td> 
                    <a href="{{ path('type_show', {'id':type.id}) }}" class="btn btn-warning">Show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}
