{% extends 'base.html.twig' %}

{% block title %}Shows{% endblock %}
  
{% block body %}
    <h1 class="text-center">Shows</h1>
    <table  id="table_id" class="table text-center mr-auto ml-auto mb-4 display">
        <thead>
            <tr>
                <th>ID</th>
                <th>ROLE</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
    {% for show in shows %}
        <tr>
            <td>{{ show.id }}</td>
            <td>{{ show.title }}
                {% if show.bookable %}
                <span>{{ show.price }} €</span>
                {% endif %}

                {% if show.representations|length==1 %}
                - <span>1 représentation</span>
                {% elseif show.representations|length>1 %}
                - <span>{{ show.representations|length }} représentations</span>
                {% else %}
                - <em>aucune représentation</em>
                {% endif %}
            </td>
            <td>
                <a href=" {{ path('show_show', {'id':show.id}) }}" class="btn btn-info">Show</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}