{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    
<div class="col-sm-6 col-md-5 ml-auto mr-auto mt-5 p-4" style="background-color: honeydew">
    <h1>Reservation</h1>
    <table class="table">
        <tbody>
        <th>ID</th>
        <th>SHOW</th>
        <th>DATE & TIME</th>
        <th>PLACE</th>
        <th>ACTIONS</th>
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.representation.theShow.title }}</td>
                <td>{{ reservation.representation.schedule|date('d/m/Y') }} - {{ reservation.representation.schedule|date('H:i') }}</td>
                <td>{{ reservation.places }}</td>
                <td>
                    <a href="{{ path('reservation_edit', {'id':reservation.id}) }}" class="btn btn-info">EDIT</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_index') }}" class="btn btn-primary">back to list</a>

</div>

{% endblock %}