{% extends 'base.html.twig' %}

{% block title %}Fiche d'un lieu{% endblock %}

{% block body %}
   <div class="col-4 ml-auto mr-auto mt-5 p-4" style="background-color: honeydew">
        <h1>{{ location.designation }}</h1>
        <hr>
        <address>
            <p>{{ location.address }}</p>
            <p>{{ location.locality.postalCode }} 
               {{ location.locality.locality }}
            </p>

            {% if location.website %}
            <p><a href="{{ location.website }}" target="_blank">{{ location.website }}</a></p>
            {% else %}
            <p>Pas de site web</p>
            {% endif %}
            
            {% if location.phone %}
            <p><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
            {% else %}
            <p>Pas de téléphone</p>
            {% endif %}
        </address>
        
        <h2>Liste des spectacles</h2>
        <ul>
        {% for show in location.shows %}
            <li style="list-style-type: none">{{ show.title }}</li>
        {% endfor %}
        </ul>
        
        <a href="{{ path('location_index') }}" class="btn btn-primary">back to list</a>
   </div> 
{% endblock %}