{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}

 <h1 class="text-center mt-4 mb-4">{{ titre }}</h1>
   <table class="table text-center w-50 mr-auto ml-auto mt-4 mb-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.firstname }}</td>
                <td>{{ artist.lastname }}</td>
                <td>
                    <a href=" {{ path('artist_show', {'id':artist.id }) }}" class="btn btn-warning">Show</a>
                </td>
            </tr>
        {% endfor %}   
        </tbody>
    </table>
{% endblock %}