<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}
        <script src="https://js.stripe.com/v3/"></script>
        
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light menu-nav">
            <h2 class="title">Project Symfony - marie Sagehomme</h2>
            <div id="main-nav">
              <ul class="navbar-nav mr-auto">
                 {% if app.user %}
                 <li class="nav-item active ml-3">
                    <a class="nav-link btn btn-info" style="color: seashell;" href="{{ path('user_show', {'id':app.user.id}) }}">{{app.user.firstname }}<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item ml-3">
                   <a class="nav-link btn btn-danger" href="{{ path('app_logout') }}" style="color: seashell;">Logout</a>
                 </li> 
                 {% else %}
                     <li>
                        <a class="nav-link btn btn-info" style="color: seashell;" href="{{ path('app_login') }}">log in<span class="sr-only"></span></a> 
                     </li>
                     <li class="nav-item ml-3">
                        <a class="nav-link btn btn-success" href="{{ path('user_new') }}" style="color: seashell;">Sign up</a>
                    </li> 
                    <li class="nav-item ml-3">
                        <a class="nav-link btn btn-warning" href="{{ path('show_index') }}" style="color: seashell;">All Shows</a>
                    </li> 
                  {% endif %} 
                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                  <li class="nav-item ml-3">
                      <a class="btn btn-dark">all pages</a>
                  <ul>
                      {% if is_granted('ROLE_ADMIN') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('user_index') }}">User</a>
                      </li>
                      {% endif %}
                      {% if is_granted('ROLE_MEMBER') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('type_index') }}">Type</a>
                      </li>
                      {% endif %}
                      {% if is_granted('ROLE_MEMBER') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('show_index') }}">Show</a>
                      </li>
                      {% endif %}
                      {% if is_granted('ROLE_MEMBER') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('role_index') }}">Role</a>
                      </li>
                      {% endif %}
                      {% if is_granted('ROLE_MEMBER') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('reservation_index') }}">Reservation</a>
                      </li>
                      {% endif %}
                      {% if is_granted('ROLE_MEMBER') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('representation_index') }}">Representation</a>
                      </li>
                      {% endif %}
                      {% if is_granted('ROLE_MEMBER') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('location_index') }}">Location</a>
                      </li> 
                      {% endif %}
                      {% if is_granted('ROLE_MEMBER') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('locality_index') }}">Locality</a>
                      </li>  
                      {% endif %}
                      {% if is_granted('ROLE_MEMBER') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('artist_index') }}">Artist</a>
                      </li> 
                      {% endif %}
                      {% if is_granted('ROLE_MEMBER') %}
                      <li>
                          <a class="nav-link btn btn-dark" href="{{ path('agent_index') }}">Agent</a>
                      </li>  
                      {% endif %}
                  </ul>
                </li>
                {% endif %}
              </ul>
            </div>
        </nav>
    </header>   
    {% block body %}{% endblock %}
    
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        
        <script>
            $(document).ready( function () {
            $('#table_id').DataTable();});
        </script> 
        {% endblock %}
    </body>
</html>