{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
    <div class="form-signin">
        <h2>New User</h2>
         {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mt-4">{{ button_label|default('Save') }}</button>
         {{ form_end(form) }} 

         <a href="{{ path('user_index') }}" class="btn btn-info mt-4">back to list</a>
    </div>
{% endblock %}